<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title> Web guestbook</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</head>
<body>

<img th:src="@{/IMG/c.png}" />

<h1> User and comments</h1>


<div th:if="${entries.isEmpty()}">
    <p>Please enter a comment</p>
</div>

<div th:if="${!entries.isEmpty()}">
    <table>
        <tr>
            <th>User</th>
            <th>Comments</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        <tr th:each="entry: ${entries}">
            <td th:text="${entry.user}"></td>
            <td th:text="${entry.comment}"></td>
            <td><a th:href="@{'/delete/' + ${entry.id}}">Delete</a></td>
            <td><a th:href="@{'/update/' + ${entry.id}}">Update</a></td>
        </tr>
    </table>
</div>

<h2 th:text="${formHeader}"></h2>
<form th:object="${newEntry}" method="post">
    <label>Name: </label>
    <input type="text" size="40" th:field="*{user}" />
    <label>comment: </label>
    <input type="text" size="70" th:field="*{comment}" />
    <input type="submit" value="Submit" />
    <p class="warning" th:if="${#fields.hasErrors('user')}"> User should not be empty.</p>
    <p class="warning" th:if="${#fields.hasErrors('comment')}"> Comment cannot be empty.</p>
    <input type="reset" value="Reset" />
</form>



</body>
</html>